In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
files = ["learn_dataset.csv", "learn_dataset_emp_contract.csv", "learn_dataset_job.csv", "learn_dataset_sport.csv"]

data = [] 

for file in files:
    data.append(pd.read_csv(file, index_col="UID"))

In [3]:
df = pd.concat(data, axis=1, ignore_index=False)

In [4]:
#df = df.drop(["OCCUPATION_42", "JOB_DEP","household_type", "Insee", "emp_contract",  "eco_sect", "employee_count", "Work_description", "Sports" ], axis=1)

In [5]:
df

,ACTIVITY_TYPE,AGE_2018,sex,OCCUPATION_42,Is_student,degree,household_type,Insee,target,emp_contract,...,JOB_DEP,Working_hours,eco_sect,Terms_of_emp,Employer_type,Emolument,JOB_CONDITION,employee_count,Work_description,Sports
UID,,,,,,,,,,,,,,,,,,,,,
1,type1-1,44,Male,csp_4_5,False,DIP|1|3,ft4-1,01004,33.1791,contrat_1_6,...,71,1838.0,HZ,CDI,ct_9,20794.0,C,tr_5,451a,NaN
3,type2-1,52,Male,csp_7_7,False,DIP|1|1,ft4-3,01004,42.3055,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,type2-1,80,Male,csp_7_4,False,DIP|1|7,ft4-4,01004,45.9223,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,type1-1,58,Male,csp_2_2,False,DIP|1|6,ft1-1,01004,39.3028,contrat_2_2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,type1-1,42,Male,csp_6_7,False,DIP|1|3,ft1-1,01004,28.6227,contrat_1_2,...,01,378.0,NZ,TTP,ct_9,14514.0,C,tr_1,674a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,type1-1,37,Male,csp_5_4,False,DIP|1|8,ft4-1,95680,43.6648,contrat_1_6,...,95,1498.0,FZ,CDI,ct_6,20236.0,C,tr_4,542a,NaN
99993,type1-1,31,Male,csp_4_6,False,DIP|1|3,ft1-1,95680,32.3600,contrat_1_6,...,92,1819.0,GZ,CDI,ct_9,36107.0,C,tr_6,466c,NaN
99994,type2-1,76,Female,csp_7_5,False,DIP|1|2,ft1-2,95680,44.8873,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,type2-2,24,Female,csp_8_4,True,DIP|1|6,ft3-1,95680,48.3377,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,type2-1,63,Female,csp_7_4,False,DIP|1|3,ft1-2,95680,46.5531,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.model_selection import GridSearchCV

In [7]:
X_train = df.drop(["target"], axis=1)
y_train = df["target"]

In [8]:
X_train

,ACTIVITY_TYPE,AGE_2018,sex,OCCUPATION_42,Is_student,degree,household_type,Insee,emp_contract,JOB_CATEGORY,JOB_DEP,Working_hours,eco_sect,Terms_of_emp,Employer_type,Emolument,JOB_CONDITION,employee_count,Work_description,Sports
UID,,,,,,,,,,,,,,,,,,,,
1,type1-1,44,Male,csp_4_5,False,DIP|1|3,ft4-1,01004,contrat_1_6,O,71,1838.0,HZ,CDI,ct_9,20794.0,C,tr_5,451a,NaN
3,type2-1,52,Male,csp_7_7,False,DIP|1|1,ft4-3,01004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,type2-1,80,Male,csp_7_4,False,DIP|1|7,ft4-4,01004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,type1-1,58,Male,csp_2_2,False,DIP|1|6,ft1-1,01004,contrat_2_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,type1-1,42,Male,csp_6_7,False,DIP|1|3,ft1-1,01004,contrat_1_2,O,01,378.0,NZ,TTP,ct_9,14514.0,C,tr_1,674a,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,type1-1,37,Male,csp_5_4,False,DIP|1|8,ft4-1,95680,contrat_1_6,O,95,1498.0,FZ,CDI,ct_6,20236.0,C,tr_4,542a,NaN
99993,type1-1,31,Male,csp_4_6,False,DIP|1|3,ft1-1,95680,contrat_1_6,O,92,1819.0,GZ,CDI,ct_9,36107.0,C,tr_6,466c,NaN
99994,type2-1,76,Female,csp_7_5,False,DIP|1|2,ft1-2,95680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,type2-2,24,Female,csp_8_4,True,DIP|1|6,ft3-1,95680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,type2-1,63,Female,csp_7_4,False,DIP|1|3,ft1-2,95680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
numerical_features   = make_column_selector(dtype_include=np.number)
categorical_features = make_column_selector(dtype_exclude=np.number)

In [10]:
numerical_pipeline   = make_pipeline(SimpleImputer(strategy="mean"), 
                                     StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy="most_frequent"), 
                                     OneHotEncoder())

In [11]:
prepocessor = make_column_transformer((numerical_pipeline, numerical_features),
                                     (categorical_pipeline, categorical_features))

In [26]:
param_grid = {
    "learning_rate" : ["adaptive", "invscaling"],
    "loss":["squared_error", "huber"]
}
model = make_pipeline(prepocessor, GridSearchCV(SGDRegressor(),
                                                param_grid,
                                               cv=2,
                                               refit=True
                                               ))

In [ ]:
model.fit(X_train, y_train)

In [24]:
model.score(X_train, y_train)

AttributeError: 'GridSearchCV' object has no attribute 'scorer_'